/*=== COLORS ===*/
$white: #FFFFFF;
$black: #000000;
$body-background: #E5E5E5;
$light-gray: #F3F7F8;
$menu-background: #141515;
$subtitle-color: rgba(41, 36, 73, 0.7);;
$title-color: #383261;
$text-color: #7E7F83;
$white-button-background: #FFFFFF;
$white-button-color: #5F5C5C;
$web-design-color: #F0D2D1;
$web-development-color: #C4E8EE;
$content-writing-color: #EDDD96;
$website-maintance-color: #A4C0E9;

/*=== FONT ===*/
$body-font: "Poppins", sans-serif;
$normal-font: 1rem;

$logo-font: 1.125rem;

$home-title: 4rem;
$title-font: 2.625rem;
$subtitle-font: 1.375rem;

$link-number-font: 0.75rem;
$link-text-font: 0.625rem;

$button-font: 0.875rem;

$portfolio-subsection-subtitle-font-size: 1.125rem;
$portfolio-subsection-title-font-size: 1.875rem;

$contact-text: 2.25rem;

$bottom-logo: 2rem;
$bottom-text: 0.875rem;
$bottom-titles: 1rem;


$h1-mobile: 2.25rem;
$h2-mobile: 1.5rem;
$h3-mobile: 1.25rem;

$h1-tablet: 2.75rem;
$h2-tablet: 2rem;
$h3-tablet: 1.875rem;

$h1-desktop: 4rem;
$h2-desktop: 2.625rem;
$h3-desktop: 1.875rem;


/*=== OTHERS ===*/
$header-height: 5rem;
$nav-width: 175px; //230px
