.l-header{
    width: 100%;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: $light-gray;
    z-index: 100;
    transition: .5s;
}
  
.header__toggle{
    color: $black;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (min-width: 1030px){
    .l-header{
        top: -15rem;
    }
}